* {
    margin: 0;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-size: 65px;
    font-weight: 700;
    padding-bottom: 20px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

section {
    margin-top: 130px;
    margin-bottom: 130px;
}

/* Header Part */
.header {
    background-blend-mode: darken;
    text-align: center;
    background-image: url(../donate-today/images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    background-color: rgba(18, 18, 18, 0.6);
}

.header-container {
    padding: 170px 307px;
    color: #FFFFFF;
}

.btn-primary {
    font-weight: 600;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    padding: 16px 20px;
    color: #FFFFFF;
    background-color: #FF5959;
    border: 0;
    border-radius: 5px;
    margin-top: 30px;
}

/* Donate Section */
main {
    text-align: center;
}

.donate-section {
    margin: 130px 338px;
}

.donate-title {
    color: #121212;
    font-size: 45px;
    font-weight: 700;
}

.donate-description {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.taka-container {
    display: flex;
    gap: 22px;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 60px;
}

.taka-content {
    background-color: #FAFAFA;
    border: none;
    border-radius: 5px;
}

.amount {
    color: #707070;
    padding: 45px 25px;
    font-size: 30px;
    font-weight: 700;
}

.taka-content:hover {
    border: 2px solid #FF5959;
    background: #FFEEEE;
}

section>p {
    color: #B3B3B3;
    padding-bottom: 10px;
}

hr {
    border: 1px solid #DADADA;
}

/* Plan Section */
.donate-plan {
    margin: 130px 157px;
}

.donate-plan-container {
    padding-top: 50px;
    display: flex;
    text-align: left;
    gap: 24px;
}

.plan-card1 {
    background-color: #4F9DA61A;
    border: 0;
    border-radius: 5px;
}

.plan-card2 {
    background-color: #FF59591A;
    border: 0;
    border-radius: 5px;
}

.plan-card3 {
    background-color: #FFF4D6;
    border: 0;
    border-radius: 5px;
}

.plan-img {
    padding-top: 64px;
    padding-bottom: 32px;
    padding-left: 23px;
}

.plan-title {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    padding-left: 23px;
    padding-bottom: 16px;
    color: #121212;
    text-align: left;
}

.plan-description {
    text-align: left;
    color: #707070;
    font-size: 16px;
    padding-left: 23px;
    padding-right: 22px;
    padding-bottom: 54px;
}